$header-height: 80px;

.m{
  &-layout{
    position: relative;
    height: 100%;

    &__header{
      height: $header-height;
      border-bottom: 1px solid var(--split-color);
    }

    &__body{
      height: calc(100% - $header-height);
    }
  }
}